@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

@media (max-width: 900px) {
    html {
        font-size: 70%;
    }
}

body {
    background: white;
    color: #000;
    font-size: 18px;
    width: 100vw;
}

.header {
    padding: 50px;
    background-image: url(../img/bg-hero-desktop.svg);
    background-size: 100%;
    background-color: hsl(193, 100%, 96%);
    margin-bottom: 100px;
    width: 100vw;
}

@media (max-width: 1000px) {
    .header {
       margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .header {
        padding: 10px;
        margin-bottom: 20px;
    }
}

.header-row-one {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.header__logo-box {
    margin-right: auto;
}

.header__logo {
    width: 180px;
}

@media (max-width: 600px) {
    .header__logo {
        width: 100px;
    }
}

.header__link {
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    color: black;
    background: white;
    padding: 10px 35px;
    border-radius: 30px;
    text-decoration: none;

    transition: all .5s;
}

.header__link:hover {
    color: rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.336);
}

@media (max-width: 600px) {
    .header__link {
        padding: 10px 20px;
    }
}

.header-row-two {
    display: flex;
    align-items: center;
}

@media (max-width: 1000px) {
    .header-row-two {
        padding: 0;
    }
}

@media (max-width: 600px) {
    .header-row-two {
        flex-direction: column;
        padding: 0 25px;
    }
}

.header__description {
    margin-right: auto;
    flex: 0 0 35%;
    margin-right: 8%;

    animation: MoveInBottom 2s ease-out 2s;
}

@keyframes MoveInBottom {
    0% {
        opacity: 0;
        transform: translateY(-70px);

    }

    75% {
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .header__description {
        text-align: center;
        margin-bottom: 50px;
    }
}


.header__heading {
    text-transform: capitalize;
    font-size: 45px;
    margin-bottom: 30px;
    line-height: 1.4;
    font-family: poppins;
    font-weight: 900;
}

@media (max-width: 1000px) {
    .header__heading {
        font-size: 25px;
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    .header__heading {
        font-size: 23px;
        margin-bottom: 20px;
    }
}

.header__paragraph {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: 'open sans';
    font-weight: 500;
}

@media (max-width: 1000px) {
    .header__paragraph {
        font-size: 15.5px;
    }
}

@media (max-width: 600px) {
    .header__paragraph {
        font-size: 14px;
    }
}

.header__link-description {
    display: inline-block;
    color: white;
    background: hsl(322, 100%, 66%);
    padding: 10px 50px;
    border-radius: 30px;
    text-decoration: none;
    text-transform: capitalize;

    transition: all .5s;
}

.header__link-description:hover {
    background: hsl(322, 100%, 66%, .6);
    transform: translateY(-5px);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.336);
}

@media (max-width: 1000px) {
    .header__link-description {
        margin: 0 auto;
        padding: 10px 30px;
        font-size: 14px;
        word-spacing: 1.5px;
        letter-spacing: 1px;
    }
}

@media (max-width: 600px) {
    .header__link-description {
        margin: 0 auto;
        padding: 10px 38px;
        font-size: 14px;
        word-spacing: 1.5px;
        letter-spacing: 1px;
    }
}

.header__img {
    width: 100%;
    animation: MoveInTop 2s ease-out 2s;
}

@keyframes MoveInTop {
    0% {
        opacity: 0;
        transform: translateY(30px);

    }

    75% {
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.main {
    padding: 30px;
    margin-bottom: 180px;
    position: relative;
}

@media (max-width: 1000px) {
    .main {
        padding: 5px 10px;
    }
}

@media (max-width: 600px) {
    .main {
        padding: 5px 20px;
    }
}

.section-one, .section-two, .section-three {
    display: flex;
    align-items: center;
    padding: 50px 50px 50px 120px;
    margin: 75px 100px;
    border-radius: 20px;
    box-shadow: 0 0 3px 3px rgba(128, 128, 128, 0.1);
}

@media (max-width: 1000px) {
    .section-one, .section-two, .section-three {
        margin: 50px 40px;
        padding: 25px 50px;
    }
}

@media (max-width: 600px) {
    .section-one, .section-two, .section-three {
        align-items: center;
        padding: 50px 20px;
        margin: 0;
        margin-bottom: 40px;
        text-align: center;
    }

    .section-one, .section-three {
        flex-direction: column-reverse;
    }

    .section-two {
        flex-direction: column;
    }
}

.section__text-box {
    flex: 0 0 50%;
}

@media (max-width: 600px) {
    .section__text-box {
        width: 100%;
    }
}

.section__heading {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 12px;
    font-family: poppins;
    font-weight: 700;
}

@media (max-width: 600px) {
    .section__heading {
        font-size: 20px;
        margin-bottom: 15px;
    }
}


.section__paragraph {
    font-size: 18px;
    color: rgba(128, 128, 128, 0.851);
    line-height: 1.7;
    word-spacing: 3px;
    letter-spacing: .5px;
    font-family: 'Open sans';
}

@media (max-width: 600px) {
    .section__paragraph {
        line-height: 1.5;
        font-size: 14px;
        font-weight: 500;
    }
}

.section__img-box {
    flex: 0 0 50%;
}

@media (max-width: 600px) {
    .section__img-box {
        width: 100%;
        margin-bottom: 50px;
    }
}

.section__img {
    width: 80%;
    text-align: center;
}

.right {
    margin-right: auto;
}

@media (max-width: 600px) {
    .right {
        margin-right: 0;
    }
}

.right-align {
    text-align: right;
}

@media (max-width: 600px) {
    .right-align {
        text-align: center;
    }
}

.left-pad {
    padding-left: 5%;
}

@media (max-width: 600px) {
    .left-pad {
        padding-left: 0;
    }
}

.right-pad {
    padding-right: 5%;
}

@media (max-width: 600px) {
    .right-pad {
        padding-right: 0;
    }
}

.article {
    padding: 40px 100px;
    text-align: center;
    box-shadow: 0 0 3px 3px rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    position: absolute;
    top: 102.5%;
    z-index: 2;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1000px) {
    .article {
        top: 104%;
        padding: 40px 10px;
        width: 70%;
    }
}

@media (max-width: 600px) {
    .article {
        top: 104%;
        padding: 40px 10px;
        width: 90%;
    }
}


.article__paragraph {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
    font-family: poppins;
    margin-bottom: 30px;
}

@media (max-width: 1000px) {
    .article__paragraph {
        font-size: 22px;
        margin-bottom: 15px;
    }
}

@media (max-width: 600px) {
    .article__paragraph {
        font-size: 16px;
        margin-bottom: 15px;
    }
}

.article__link {
    display: inline-block;
    color: white;
    background: hsl(322, 100%, 66%);
    padding: 20px 60px;
    border-radius: 30px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;

    transition: all .5s;
}

.article__link:hover {
    background: hsl(322, 100%, 66%, .6);
    transform: translateY(-5px);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.336);
}

@media (max-width: 600px) {
    .article__link {
        padding: 10px 30px;
        font-size: 13px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding: 120px 75px 30px 120px;
    font-family: 'Open sans';
    width: 100%;
}

@media (max-width: 1000px) {
    .footer {
        padding: 120px 50px 20px 50px;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 150px 10px 20px 20px;
    }
}

.footer__img-box {
    margin-bottom: 20px;
}

.footer__img {
    width: 180px;
    filter: invert(50%) brightness(100000000);
}

.footer__content {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 600px) {
    .footer__content {
        flex-direction: column;
    }
}

.footer__content-info {
    width: 46%;
    padding-right: 150px;
}

@media (max-width: 1000px) {
    .footer__content-info {
        width: 60%;
        padding-right: 50px;
    }
}

@media (max-width: 600px) {
    .footer__content-info {
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }
}

.footer-access {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    line-height: 1.7;
}

.footer-access img {
    height: 12px;
    margin-right: 20px;
    margin-top: 7px;
}

.footer-access span {
    font-size: 14px;
}

.footer__content-list {
    list-style: none;
    margin: 0 auto;
    width: 18%;
}

@media (max-width: 600px) {
    .footer__content-list {
        width: 100%;
    }
}

.footer-item {
    margin-bottom: 13px;
}

.footer-link {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    font-family: 'Open sans';
}

.footer__content-socials {
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .footer__content-socials {
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }
}

.footer-socials {
    display: flex;
    margin-bottom: 150px;
}

@media (max-width: 600px) {
    .footer-socials {
        margin-bottom: 25px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

.icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    color: white;
    border: 1px solid white;
    padding: 8px;
    text-align: center;
    border-radius: 50%;
    transform: scale(0.8);
}

@media (max-width: 600px) {
    .icon {
        margin-right: 6px;
        transform: scale(0.6);
    }
}

.footer-foot {
    font-size: 10px;
}

@media (max-width: 600px) {
    .footer-foot {
        font-size: 8px;
        word-spacing: 1.3px;
    }
}